on:
  pull_request:
  workflow_dispatch:
    inputs:
      test_path:
        description: 'Enter specific test path. E.g. linode_client/test_linode_client.py, models/test_account.py'
        required: false
      sha:
        description: 'The hash value of the commit.'
        required: true
      pull_request_number:
        description: 'The number of the PR.'
        required: false

name: PR E2E Tests

jobs:
  integration-fork-ubuntu:
    runs-on: ubuntu-latest
    if:
      github.event_name == 'workflow_dispatch' && inputs.sha != ''

    steps:
      - uses: actions-ecosystem/action-regex-match@v2
        id: validate-tests
        with:
          text: ${{ github.event.client_payload.slash_command.tests }}
          regex: '[^a-z0-9-:.\/_]'  # Tests validation
          flags: gi

      # Check out merge commit
      - name: Checkout PR
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.sha }}

      - name: Update system packages
        run: sudo apt-get update -y

      - name: Install system deps
        run: sudo apt-get install -y build-essential

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Python deps
        run: pip install -r requirements.txt -r requirements-dev.txt wheel boto3

      - name: Install Python SDK
        run: make install
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - run: make INTEGRATION_TEST_PATH="${{ inputs.test_path }}" testint
        if: ${{ steps.validate-tests.outputs.match == '' }}
        env:
          LINODE_TOKEN: ${{ secrets.LINODE_TOKEN }}

      - uses: actions/github-script@v6
        id: update-check-run
        if: ${{ inputs.pull_request_number != '' }}
        env:
          number: ${{ inputs.pull_request_number }}
          job: ${{ github.job }}
          conclusion: ${{ job.status }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const { data: pull } = await github.rest.pulls.get({
              ...context.repo,
              pull_number: process.env.number
            });
            const ref = pull.head.sha;
            const { data: checks } = await github.rest.checks.listForRef({
              ...context.repo,
              ref
            });
            const check = checks.check_runs.filter(c => c.name === process.env.job);
            const { data: result } = await github.rest.checks.update({
              ...context.repo,
              check_run_id: check[0].id,
              status: 'completed',
              conclusion: process.env.conclusion
            });
            return result;